html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

#link {
  color: white;
  text-decoration: none;
}

.settingsWrapper {
  align-self: baseline;
  padding-right: 150px;
}